openai
langchain
unstructured[all-docs]
pillow 
pydantic
lxml
pillow
matplotlib
chromadb
tiktoken
watermark
langchain_community
pydantic_settings
fastapi
uvicorn
python-multipart
streamlit
streamlit-aggrid